<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Marketing Mix Tool | Dozen Digital</title>

		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="foundation.min.css">
		<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href="c3/c3.css" rel="stylesheet" type="text/css">

	</head>

	<body>
		<div class="fixed">
			<nav class="top-bar" role="navigation">
				<ul class="title-area">
					<li class="name">
						<a href="http://www.dozendigital.com"><img src="dozen-logo.png"></a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="container results">
			<div class="row text-center">
				<div class="large-12 columns">
					<h1 class="results-header">Marketing Mix</h1>
					<div id="score_chart"></div>
				</div>
			</div>
			<a href="/" class="button">Back</a>
		</div>

		<script src="js/vendor/jquery.js"></script>
		<script src="js/foundation.min.js"></script>
		<script src="js/foundation/foundation.slider.js"></script>

		<!-- Load d3 -->
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

		<!-- Load c3.js -->
		<script src="c3/c3.min.js"></script>

		<script type="text/javascript">
			var chart = c3.generate({
				bindto: "#score_chart",
			    data: {
			        columns: [
			            ["Facebook Advertising", <%= results[:facebook] %>],
			            ["Twitter Advertising", <%= results[:twitter] %>],
			            ["Display/Banner Advertising", <%= results[:display] %>],
			            ["Search Advertising", <%= results[:search] %>],
			            ["Retargeting", <%= results[:retargeting] %>],
			            ["Mobile App Install Advertising", <%= results[:app] %>],
			            ["Local Advertising", <%= results[:local] %>],
			            ["SEO", <%= results[:seo] %>],
			            ["Content Marketing", <%= results[:content] %>],
			            ["Social Media and Community", <%= results[:social] %>],
			            ["PR", <%= results[:pr] %>],
			            ["Direct Sales", <%= results[:direct] %>],
			            ["Partnerships and Business Development", <%= results[:partners] %>],
			            ["Referral Marketing", <%= results[:referral] %>],
			            ["Email Marketing", <%= results[:email] %>],
			        ],
			        type : 'pie',
			        onclick: function (d, i) { console.log("onclick", d, i); },
			        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
			        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
			    },
			    transition: {
		        	duration: 0
		        },
		        legend: {
		        	position: 'right'
		        },
		        pie: {
				  label: {
				    show: false
				  }
				}
			});

			setTimeout(function () {
			    chart.unload({
			        ids: 'data1'
			    });
			    chart.unload({
			        ids: 'data2'
			    });
			}, 2500);

		</script>

		<script>
			$(document).foundation();
		</script>
	</body>

</html>