<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Marketing Mix Tool | Dozen Digital</title>

		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="foundation.min.css">
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<br>Paid Social: <%= results[:paidsocial] %>
		<br>Display Advertising: <%= results[:display] %>
		<br>Paid Search: <%= results[:paidsearch] %>
		<br>Content Marketing: <%= results[:content] %>
		<br>Direct Sales: <%= results[:directsales] %>
		<br>Organic Social: <%= results[:organicsocial] %>
		<br>SEO: <%= results[:seo] %>
		<br>PR: <%= results[:pr] %>
		<br>Influencer Marketing: <%= results[:influencer] %>
		<br>Local Marketing: <%= results[:local] %>
		<br>Referral Marketing: <%= results[:referral] %>
		<br>Email Marketing: <%= results[:email] %>
		<br>Partnerships: <%= results[:partners] %>

		<script src="js/vendor/jquery.js"></script>
		<script src="js/foundation.min.js"></script>
		<script src="js/foundation/foundation.slider.js"></script>

		<script>
			$(document).foundation();
		</script>
	</body>

</html>